@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: #002140;
}
.nav-left{
  height: calc(100vh);
  background-color: #001529;
}
.content{
  position: relative;
  padding: 20px;
//background-color: white;
//padding:20px 10px 0px 10px
}